<ul class="nav nav-pills nav-justified px-4 mt-4">
  <li class="nav-item">
    <a class="nav-link {{users}}" href="/dashboard/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{tests}}" href="/dashboard/tests">Tests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{questions}}" href="/dashboard/questions">Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{departments}}" href="/dashboard/departments">Departments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{designations}}" href="/dashboard/designations">Designations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{results}}" href="/dashboard/results">Results</a>
  </li>
</ul>